<section ng-init="find()">
    <div class="page-header">
        <h1>Clientes</h1>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" placeholder="Buscar cliente..." ng-model="searchClient">
            </div>
        </div>
    </form>
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Nombre
                    <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>Tax ID</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clients | orderBy:sortType:sortReverse | filter:searchClient">
            <td><a ng-href="/clients/{{client._id}}">{{client.name}}</a></td>
            <td>{{client.taxId}}</td>
            <td>
                <md-button class="md-raised" ng-href="#">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Nueva orden de compra
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <div layout="row" layout-align="end" flex>
        <md-button class="md-fab" aria-label="Agregar cliente" ng-href="/clients/create">
            <span class="glyphicon glyphicon-plus"></span>
        </md-button>
    </div>
</section>