<div ng-init="findOne()">
    <div class="page-header">
        <div layout="row" layout-align="start center">
            <h1 ng-bind="client.name"></h1>
            <md-button class="md-raised md-primary" ui-sref="clients.edit({clientId: client._id})" flex="none">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar
            </md-button>
            <md-button class="md-raised md-warn" ng-click="remove(client)">
                <span class="glyphicon glyphicon-trash"></span>
                Borrar
            </md-button>
        </div>
    </div>
</div>
<div layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-content>
                <md-list flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Informaci&oacute;n general</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.name}}</h3>
                            <p>Nombre</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.email}}</h3>
                            <p>Email</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.phone}}</h3>
                            <p>Tel&eacute;fono</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.taxId}}</h3>
                            <p>Tax ID</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.url}}</h3>
                            <p>Sitio web</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.address.city + ", " + client.address.state + ", " +
                                client.address.country}}</h3>
                            <p>Ubicaci&oacute;n</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-content>
                <md-list flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Informaci&oacute;n de contacto</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.contact.name}}</h3>
                            <p>Nombre</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.contact.email}}</h3>
                            <p>Email</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.contact.officePhone}}</h3>
                            <p>Tel&eacute;fono de oficina</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.contact.cellPhone}}</h3>
                            <p>Tel&eacute;fono celular</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>







