<section>
	<div class="page-header">
		<h1>Crear nuevo Grupo de usuario</h1>
	</div>
	<div class="alert alert-success" ng-show="showSuccessAlert">
		<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
		<strong>¡Hecho!</strong> {{successTextAlert}}
	</div>
	<div class="row">

		<!-- ================================================================ -->
		<!-- user group general information section -->
		<!-- ================================================================ -->
		<div class="col-md-6">
			<!-- <div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" id="name" keyboard-poster post-function="search" class="form-control">
			</div> -->
			<md-input-container class="md-block">
				<label>Nombre</label>
				<input required md-no-asterisk name="name" keyboard-poster post-function="search">
				<div ng-messages="projectForm.description.$error">
					<div ng-message="required">Se requiere este campo.</div>
				</div>
			</md-input-container>
			<!-- <div class="form-group">
				<label for="description">Descripción</label>
				<textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
			</div> -->
			<md-input-container class="md-block">
				<label>Descripción</label>
				<textarea id="" cols="30" rows="5" required md-no-asterisk name="description" keyboard-poster post-function="search"></textarea>
				<div ng-messages="projectForm.description.$error">
					<div ng-message="required">Se requiere este campo.</div>
				</div>
			</md-input-container>
			<div class="row">
				<div class="col-md-6">
					<label>Usuarios</label>
				</div>
				<div class="col-md-6">
						<md-button ng-click="openModal()" class="md-raised md-primary pull-right" >
							<span class="glyphicon glyphicon-plus"></span>
							Agregar usuario
						</md-button>
						<!-- <button class='btn-sm btn btn-success pull-right' ng-click="openModal()"><span class="glyphicon glyphicon-plus"></span> Agregar</button> -->
				</div>
			</div>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Username</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ejemplo</td>
							<td>Ejemplo</td>
							<td>Ejemplo</td>
							<td>
								<button class="btn btn-danger btn-xs" type="button">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- ================================================================ -->
		<!-- Permissions section -->
		<!-- ================================================================ -->
		<div class="col-md-5 col-md-offset-1">
			<label>Empleados</label>
			<div class="col-md-offset-1">
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 1
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 2
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 3
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 4
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 5
				</md-checkbox>
			</div>
			<label>Empleados</label>
			<div class="col-md-offset-1">
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 1
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 2
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 3
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 4
				</md-checkbox>
				<md-checkbox class="md-primary" aria-label="Checkbox 1">
						Option 5
				</md-checkbox>
			</div>
		</div>
	</div>
</section>
