<section ng-init="findUserGroup()">
  <div class="page-header">
    <h1>Crear nuevo Grupo de usuario</h1>
  </div>
  <div class="alert alert-success" ng-show="showSuccessAlert">
    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
    <strong>¡Hecho!</strong> {{successTextAlert}}
  </div>
  <form name="userGroupsForm" ng-submit="update(userGroupsForm.$valid)" novalidate autocomplete="off">
    <div class="row">

      <!-- ================================================================ -->
      <!-- user group general information section -->
      <!-- ================================================================ -->
      <div class="col-md-6">
        <md-input-container class="md-block">
          <label>Nombre</label>
          <input required name="name" md-no-asterisk ng-model="userGroup.name" >
          <div ng-messages="userGroupsForm.name.$error">
            <div ng-message="required">Se requiere este campo.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea id="" cols="30" rows="5" ng-model="userGroup.description" required md-no-asterisk name="description" ></textarea>
          <div ng-messages="userGroupsForm.description.$error">
            <div ng-message="required">Se requiere este campo.</div>
          </div>
        </md-input-container>
        <h5><span class="md-headline">Lista de usuarios</span></h5>
        <span class="md-subhead"><i>Agregue o elimine usuarios</i></span>
        <div class="row">
          <div class="col-md-10">
            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label>Buscar usuario</label>
              <i class="glyphicon glyphicon-search pull-right"></i>
              <input ng-model="searchUser" type="text">
            </md-input-container>
          </div>
          <div class="col-md-2">
            <md-button ng-click="showTabDialog($event)" class="md-fab md-mini md-green-light pull-right" aria-label="add-user">
              <span class="glyphicon glyphicon-plus"></span>
            </md-button>
          </div>
        </div>
        <div class="row">
          <h3 ng-if="users.length <= 0" >No existen usuarios en este grupo</h3>
          <md-list-item ng-repeat="user in users | filter: searchUser" class="noright"
                        ng-click="null" style="padding: 0; margin: 0;">
            <img alt="{{ user.username }}" ng-src="{{ user.profileImageURL }}" class="md-avatar">
            <p><b>{{ user.username }}</b> | {{ user.firstName }} {{ user.lastName }}</p>
            <button class="btn md-red btn-xs" ng-click="deleteUserFromUserGroup(user, $event)">
              <i class="glyphicon glyphicon-remove" aria-label="{{ user.username }}"></i>
            </button>
          </md-list-item>
        </div>
      </div>

      <!-- ================================================================ -->
      <!-- Permissions section -->
      <!-- ================================================================ -->
      <div class="col-md-5 col-md-offset-1" ng-init="getListModules()">
        <div ng-repeat="module in listModules">
          <label>{{module.name}}</label>
          <div class="col-md-offset-1">

            <md-checkbox ng-click="addPermision()" ng-repeat="permission in module.permissions" id="id_{{module._id}}_{{permission._id}}" class="md-primary" aria-label="Checkbox 1" >
              {{permission.label}}
            </md-checkbox>
          </div>
        </div>
      </div>

    </div>
  </form>
  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <md-button class="md-raised md-red">
      <i class="glyphicon glyphicon-remove"></i>
      Cancelar
    </md-button>
    <md-button class="md-raised md-teal" type="submit">
      <i class="glyphicon glyphicon-ok"></i>
      Actualizar
    </md-button>
  </section>
</section>
