<md-dialog aria-label="Mango (Fruit)" ng-init="getUsers()" style="width:900px;height:810px;">
	<md-toolbar style="background: #1F8252">
		<div class="md-toolbar-tools">
			<h2>Agregar usuario</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<i class="glyphicon glyphicon-remove" aria-label="Close dialog"></i>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Dialog content -->
	<md-dialog-content style="max-width:1300px;max-height:810px; ">

		<!-- Tabs -->
		<md-tabs md-dynamic-height md-border-bottom>

			<!-- ========================================================================= -->
			<!-- First tab -->
			<!-- ========================================================================= -->
			<md-tab label="Crear nuevo usuario">
				<md-content class="md-padding" >
					<h1 class="md-display-2">Ingrese la información</h1>
					<form name="userForm" ng-submit="createUserAndAdd(userForm.$valid)" novalidate autocomplete="off">
						<div class="row">
							<div class="col-md-9">
								<md-input-container class="md-block">
									<label>Username</label>
									<input required id="username" name="username" md-no-asterisk ng-model="credentials.username">
									<div ng-messages="userForm.username.$error">
										<div ng-message="required">Se requiere este campo.</div>
									</div>
								</md-input-container>
							</div>
							<div class="col-md-3">
								<md-button ng-click="veriryUser($event)" class="md-raised md-mini md-primary pull-right" aria-label="add-user">
									<!-- <span class="glyphicon glyphicon-plus"></span> -->
									Verificar
								</md-button>
							</div>
						</div>
						<md-input-container class="md-block">
							<label>Nombre</label>
							<input required id="firstname" name="firstname" md-no-asterisk ng-model="credentials.firstName">
							<div ng-messages="userForm.firstname.$error">
								<div ng-message="required">Se requiere este campo.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Apellido</label>
							<input required id="lastname" name="lastname" md-no-asterisk ng-model="credentials.lastName">
							<div ng-messages="userForm.lastname.$error">
								<div ng-message="required">Se requiere este campo.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Contraseña</label>
							<input type="password" required id="password" name="password" md-no-asterisk ng-model="credentials.password">
							<div ng-messages="userForm.password.$error">
								<div ng-message="required">Se requiere este campo.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Notificar a:</label>
							<input required type="email" id="notifyTo" name="notifyTo" md-no-asterisk ng-model="credentials.email">
							<div ng-messages="userForm.notifyTo.$error">
								<div ng-message="required">Se requiere este campo.</div>
							</div>
						</md-input-container>
						<md-button class="md-raised md-mini md-primary" type="submit">Crear y agregar usuario</md-button>
					</form>
				</md-content>
			</md-tab>

			<!-- ========================================================================= -->
			<!-- Second tab -->
			<!-- ========================================================================= -->
			<md-tab label="Seleccionar usuario existente">
				<md-content class="md-padding">
					<h1>Seleccionar usuario</h1>
					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Buscar usuario</label>
						<!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
						<i class="glyphicon glyphicon-search pull-right"></i>
						<input ng-model="searchBox" type="text">
					</md-input-container>
          <md-list-item ng-repeat="user in users | filter: searchBox" class="md-3-line"
                        ng-click="addUserToUserGroup(user, $event)">
            <img alt="{{ user.username }}" ng-src="{{ user.profileImageURL }}" class="md-avatar">
            <div class="md-list-item-text" layout="column">
              <h3>{{ user.username }}</h3>
              <h4>{{ user.firstName }} {{ user.lastName }}</h4>
              <p><i>{{ user.email }}</i></p>
            </div>
            <md-button class="md-green-light">Agregar</md-button>
          </md-list-item>
				</md-content>
			</md-tab>
		 </md-tabs>
	</md-dialog-content>
	<!-- End dialog content -->

	<!-- Dialog footer -->
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="cancel()" >
			Cancelar
		 </md-button>
	</md-dialog-actions>
	<!-- End dialog footer -->
</md-dialog>
