<section ng-controller="WorkTeamsController">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Crear un Equipo de Trabajo</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <form name="workTeamForm" class="form-horizontal" role="form" ng-submit="create(workTeamForm.$valid)" novalidate>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre</label>
          <input ng-model="newWorkTeam.name" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Descripcion</label>
          <input ng-model="newWorkTeam.description" md-maxlength="250" required ng-required="true">
        </md-input-container>
      </div>

      <h5 class="md-title">Tecnologias</h5>
      <md-chips ng-model="newWorkTeam.tecnologies" readonly="ctrl.readonly" md-removable="ctrl.removable"
                md-enable-chip-edit="true" placeholder="Agrega una cualidad" secondary-placeholder=" + MEAN.JS"></md-chips>

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Informacion del Arquitecto</span>
          </h3>
        </div>
      </md-toolbar>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre</label>
          <input ng-model="newWorkTeam.architect.name" md-maxlength="50" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Correo</label>
          <input ng-model="newWorkTeam.architect.email" type="email" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Telefono de Casa</label>
          <input ng-model="newWorkTeam.architect.phone" md-maxlength="50" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Telefono M&oacute;vil</label>
          <input ng-model="newWorkTeam.architect.cellphone" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Oficina</label>
          <input ng-model="newWorkTeam.architect.office" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Informacion del Lider Remoto</span>
          </h3>
        </div>
      </md-toolbar>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre</label>
          <input ng-model="newWorkTeam.leader.name" md-maxlength="50" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Correo</label>
          <input ng-model="newWorkTeam.leader.email" type="email" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Telefono de Casa</label>
          <input ng-model="newWorkTeam.leader.phone" md-maxlength="50" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Telefono M&oacute;vil</label>
          <input ng-model="newWorkTeam.leader.cellphone" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Oficina</label>
          <input ng-model="newWorkTeam.leader.office" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Integrantes</span>
          </h3>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="current in newWorkTeam.employees">
          <div class="md-list-item-text">
            <h3>{{current.name + " " + current.lastName}} </h3>
            <h4>{{current.rfc}}</h4>
          </div>
          <md-button class="md-secondary" ng-click="deleteIntegrant(current)">Eliminar</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
      <div layout-gt-xs="row">

        <md-input-container class="md-block" flex-gt-xs>
          <label>Selecciona un integrante</label>
          <md-select  ng-model="selectedEmployee"   ng-model-options="{trackBy: '$value.id'}">
            <md-option  ng-repeat="employee in employeesIntegrants" ng-value="employee">
              {{employee.name  + " " + employee.lastName}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button
          type="button"
          ng-disabled="false"
          class="md-raised md-primary text-center"
          ng-click="addIntegrant()">Agregar</md-button>
      </div>

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Lider Local</span>
          </h3>
        </div>
      </md-toolbar>
      <div class="text-center" ng-if="!newWorkTeam.employeeLeader.name">
        <h2>Lider local no establecido</h2>
      </div>
      <div class="text-center" ng-if="newWorkTeam.employeeLeader.name">
        <h2>Lider Local : {{newWorkTeam.employeeLeader.name + " " + newWorkTeam.employeeLeader.lastName}}</h2>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Selecciona un lider</label>
          <md-select  ng-model="employeeLeader"   ng-model-options="{trackBy: '$value.id'}" ng-required="true" required>
            <md-option  ng-repeat="employee in employeesLeader" ng-value="employee">
              {{employee.name  + " " + employee.lastName}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-button
          type="button"
          ng-disabled="false"
          class="md-raised md-primary text-center"
          ng-click="setLeader()">Establecer</md-button>
      </div>


      <md-button
        type="submit"
        ng-disabled="resourceTypeForm.$invalid"
        class="md-raised md-primary text-center"
        ng-click="create(resourceTypeForm.$valid)">Guardar</md-button>
    </form>
  </md-content>
  <br><br><br>
</section>

