<section ng-controller="WorkTeamsController" ng-init="find()">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h1>
        <span>Equipos de Trabajo</span>
      </h1>
    </div>
  </md-toolbar>
  <div class="text-center" ng-if="!workTeams.length">
    <h2>A&uacute;n no has agregado un equipo de trabajo</h2>
    <md-button class="text-center md-raised md-primary" ui-sref="work-teams.create()">Crear Uno</md-button>
  </div>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="current in workTeams">
      <div class="md-list-item-text">
        <h2>{{current.name}}</h2>
        <p class="text-info">Creado en : {{current.created_at}}</p>
      </div>
      <md-button class="md-secondary" ui-sref="work-teams.view({workTeamId: current._id})">Ver</md-button>
      <md-button class="md-secondary" ng-click="remove(current)">Eliminar</md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</section>
