<section ng-controller="WorkTeamsController" ng-init="find()">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h1>
        <span>Equipos de Trabajo</span>
      </h1>
    </div>
  </md-toolbar>
  <div class="text-center" ng-if="!workTeams.length">
    <h2>A&uacute;n no has agregado un equipo de trabajo</h2>
    <md-button class="text-center md-raised md-primary" ui-sref="work-teams.create()">Crear Uno</md-button>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr></tr>
    </tbody>
  </table>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Líder Local</th>
      <th>Líder Remoto</th>
      <th>Arquitecto</th>
      <th>Integrantes</th>
      <th>N&uacute;mero Tecnolog&iacute;as</th>
      <th>Acciones</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="current in workTeams">
      <td>{{current.name}}</td>
      <td>{{current.employeeLeader.name}}</td>
      <td>{{current.leader.name}}</td>
      <td>{{current.architect.name}}</td>
      <td>{{current.employees.length}}</td>
      <td>{{current.technologies.length}}</td>
      <td>
        <md-button class="md-secondar md-icon-button md-primary" ui-sref="work-teams.view({workTeamId: current._id})">
          <md-icon class="material-icons">remove_red_eye</md-icon>
        </md-button>
        <md-button class="md-secondar md-icon-button md-primary" ui-sref="work-teams.edit({workTeamId: current._id})">
          <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button md-warn" ng-click="showConfirmDialog(current)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
