<div class="" ng-controller="HeaderController as vm">
  <md-content>
    <md-toolbar class="md-hue-2" style="padding-left: 15%; padding-right: 10%;">
      <div class="md-toolbar-tools">
        <h2>
          <a ui-sref="home">Home</a>
        </h2>

        <div>
          <div ng-if="vm.menu.shouldRender(vm.authentication.user);">
            <md-menu ng-repeat="item in vm.menu.items | orderBy: 'position'"
                     ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type"
                     ui-sref-active="active" class="{{item.class}}">

              <md-button role="button"  ng-click="$mdOpenMenu($event)">{{::item.title}}&nbsp;<span
                class="caret"></span>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item ng-repeat="subitem in item.items | orderBy: 'position'"
                              ng-if="subitem.shouldRender(vm.authentication.user);">
                  <md-button ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>


        <span flex></span>

        <div>
          <div ng-hide="vm.authentication.user">
            <md-button ui-sref="authentication.signup">Sign Up</md-button>
            <md-button ui-sref="authentication.signin">Sign In</md-button>
          </div>
          <div ng-show="vm.authentication.user">
            <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"
                 class="header-profile-image"/>
            <md-menu>
              <md-button role="button" ng-click="$mdOpenMenu($event)">
                <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item ng-repeat="item in vm.accountMenu.items">
                  <md-button ui-sref="{{item.state}}" ng-bind="item.title"></md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button href="/api/auth/signout" target="_self">Signout</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>
