<section>
  <md-toolbar class="md-theme-light title-section">
    <h2 class="md-toolbar-tools">
      <span>{{vm.loggy._id ? 'Editar Loggy' : 'Nuevo Loggy'}}</span>
    </h2>
  </md-toolbar>

  <md-content flex layout-padding>
    <div>
      <form class="form-horizontal" ng-submit="vm.save(vm.form.loggyForm.$valid)">
        <md-input-container layout-gt-xs="row">
          <label>Actividad</label>
          <input type="text" ng-model="vm.loggy.activity" title="activity" required>
          <div ng-messages="vm.form.loggyForm.activity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Loggy activity is required.</p>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary">{{vm.loggy._id ? 'Actualizar Log' : 'Guardar Log'}}</md-button>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </form>
    </div>
  </md-content>
</section>
