<section>
    <md-toolbar class="md-theme-light" style="background-color:#3c3c3c">
        <h2 class="md-toolbar-tools">
            <span>Crear Empleado</span>
        </h2>
    </md-toolbar>
    <md-content flex layout-padding>
        <div>
            <form class="form-horizontal" ng-submit="addEmployee()" enctype="multipart/form-data">
                <h3 class="md-headline">Foto de perfil</h3>
                <md-input-container>
                    <label class="control-label">Seleccciona una imagen</label>
                    <input type="file" ng-model="newEmployee.picture" class="file">
                </md-input-container>

                <h3 class="md-headline">Datos del empleado</h3>

                <md-input-container layout-gt-xs="row">
                    <label>Name</label>
                    <input type="text" ng-model="newEmployee.name" title="name" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Last Name</label>
                    <input type="text" ng-model="newEmployee.lastName" title="lastName" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Correo electronico personal</label>
                    <input type="text" ng-model="newEmployee.personEmail" title="email" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Correo electronico de trabajo</label>
                    <input type="text" title="workEmail" ng-model="newEmployee.workEmail" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>RFC</label>
                    <input type="text" title="rfc" ng-model="newEmployee.rfc" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>IMSS</label>
                    <input type="text" ng-model="newEmployee.imss" title="imss">
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>CURP</label>
                    <input type="text" ng-model="newEmployee.curp" title="curp">
                </md-input-container>


                <h4 class="md-headline">Dirección</h4>
                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>País</label>
                        <input type="text" ng-model="newEmployee.address.country" title="country" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Estado</label>
                        <input type="text" ng-model="newEmployee.address.state" title="state" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Ciudad</label>
                        <input type="text" ng-model="newEmployee.address.city" title="city" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Código Postal</label>
                        <input type="text" ng-model="newEmployee.address.zipCode" title="zipCode" required>
                    </md-input-container>


                </div>
                <div>
                    <h4 class="md-headline">Seleccionar usuario existente</h4>
                    <md-input-container>

                        <md-select ng-model="users" title="usersList">
                            <option value="">---Please select---</option>
                            <option ng-repeat="user in users" value="{{user._id}}">{{user.username}}</option>
                        </md-select>

                    </md-input-container>
                </div>


                <md-button type="submit" class="md-raised md-primary">Save</md-button>

            </form>
        </div>
    </md-content>
</section>
