<section>
    <md-toolbar class="md-theme-light" style="background-color:#3c3c3c">
        <h2 class="md-toolbar-tools">
            <span>Crear Empleado</span>
        </h2>
    </md-toolbar>
    <md-content flex layout-padding>
        <div>
            <form class="form-horizontal" ng-submit="addEmployee()" enctype="multipart/form-data">
                <h3 class="md-headline">Foto de perfil</h3>
                <md-input-container>
                    <label class="control-label">Seleccciona una imagen</label>
                    <input type="file" ng-model="newEmployee.picture" class="file">
                </md-input-container>

                <h3 class="md-headline">Datos del empleado</h3>

                <md-input-container layout-gt-xs="row">
                    <label>Name</label>
                    <input type="text" ng-model="newEmployee.name" title="name" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Last Name</label>
                    <input type="text" ng-model="newEmployee.lastName" title="lastName" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Correo electronico personal</label>
                    <input type="text" ng-model="newEmployee.personEmail" title="email" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>Correo electronico de trabajo</label>
                    <input type="text" title="workEmail" ng-model="newEmployee.workEmail" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>RFC</label>
                    <input type="text" title="rfc" ng-model="newEmployee.rfc" required>
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>IMSS</label>
                    <input type="text" ng-model="newEmployee.imss" title="imss">
                </md-input-container>

                <md-input-container layout-gt-xs="row">
                    <label>CURP</label>
                    <input type="text" ng-model="newEmployee.curp" title="curp">
                </md-input-container>


                <h4 class="md-headline">Dirección</h4>
                <div layout-gt-xs="row">
                    <md-input-container>
                        <label>País</label>
                        <input type="text" ng-model="newEmployee.address.country" title="country" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Estado</label>
                        <input type="text" ng-model="newEmployee.address.state" title="state" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Ciudad</label>
                        <input type="text" ng-model="newEmployee.address.city" title="city" required>
                    </md-input-container>

                    <md-input-container>
                        <label>Código Postal</label>
                        <input type="text" ng-model="newEmployee.address.zipCode" title="zipCode" required>
                    </md-input-container>
                </div>

                <div>
                    <h4 class="md-headline">Usuarios</h4>

                    <label>
                        <input type="radio" ng-model="content" name="user" value="form">
                       Crear usuario
                    </label><br/>

                    <div ng-show="content == 'form'">
                        <form  name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
                            <fieldset>
                                <div class="form-group" show-errors>
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                           ng-model="credentials.firstName" placeholder="First Name" required>
                                    <div ng-messages="userForm.firstName.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">First name is required.</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                           ng-model="credentials.lastName" placeholder="Last Name" required>
                                    <div ng-messages="userForm.lastName.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Last name is required.</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email"
                                           placeholder="Email" lowercase required>
                                    <div ng-messages="userForm.email.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Email address is required.</p>
                                        <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="username" class="form-control"
                                           ng-model="credentials.username" placeholder="Username" lowercase required>
                                    <div ng-messages="userForm.username.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Username is required.</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                           ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}"
                                           popover-trigger="focus" password-validator required>
                                    <div ng-messages="userForm.password.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Password is required.</p>
                                        <div ng-repeat="passwordError in passwordErrors">
                                            <p class="help-block error-text" ng-show="userForm.password.$error.requirements">
                                                {{passwordError}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="!userForm.password.$error.required">
                                    <label>Password Requirements</label>
                                    <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span
                                            style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                                </div>
                                <div class="text-center form-group">
                                    <button type="submit" class="btn btn-primary">Sign up</button>
                                    &nbsp; or&nbsp;
                                    <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
                                </div>
                                <div ng-show="error" class="text-center text-danger">
                                    <strong ng-bind="error"></strong>
                                </div>
                            </fieldset>
                        </form>
                    </div>


                    <label>
                        <input type="radio" ng-model="content" name="user" value="select">
                        Seleccionar existene
                    </label><br/>

                    <md-input-container>

                        <md-select ng-show="content == 'select'" ng-model="users" title="usersList">
                            <md-select-header>
                                <span> Selecciona un usuario - </span>
                            </md-select-header>
                            <md-option ng-repeat="user in users" value="{{user._id}}">{{user.username}}</md-option>
                        </md-select>

                    </md-input-container>
                </div>


                <md-button type="submit" class="md-raised md-primary">Save</md-button>

            </form>
        </div>
    </md-content>
</section>
