<section>
    <div class="page-header">
        <h1>Employees</h1>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr ng-repeat="employee in employees">
                <td>{{employee.name}}</td>
                <td>{{employee.lastName }}</td>
                <td>{{employee.salary }}</td>
                <td>{{employee.employeeId }}</td>
                <td><a ng-href="/employees/{{employee._id}}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
            </tr>
        </table>
    </div>
</section>