<div class="container">
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Crear nuevo empleado</a>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de cumpleaños</th>
                <th>Salario</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tr ng-repeat="employee in listEmployees track by $index" id="employee._id">
                <td>{{employee.name}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.dateOfBirthday}}</td>
                <td>{{employee.salary}}</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="#" class="btn btn-danger btn-xs" ng-click="delete_employee($index)"><span class="glyphicon glyphicon-remove" ></span> Del</a>
                </td>
            </tr>
        </table>
    </div>
</div>