<section ng-init="findEmployee();">
    <md-select-header>
        <h2 class="md-toolbar-tools">
            <span ng-bind="(employee.name) + ' ' + (employee.lastName)"></span>
        </h2>
    </md-select-header>


    <md-list>

        <md-list-item class="md-2-line">
           
            <div class="md-list-item-text">
                <h3 class="md-body-2">Correo Personal</h3>
                <p class="md-body-1">{{employee.personEmail}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">

                <h3 class="md-body-2">Correo del trabajo</h3>
                <p class="md-body-1">{{employee.workEmail}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3 class="md-body-2">RFC</h3>
                <p class="md-body-1">{{employee.rfc }}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3 class="md-body-2">IMSS</h3>
                <p class="md-body-1">{{employee.imss}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3 class="md-body-2">CURP</h3>
                <p class="md-body-1">{{employee.curp}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3 class="md-body-2">Dirección</h3>
                <p class="md-body-1">{{employee.address.country +" "
                    +employee.address.state+" " +" "+employee.address.city+" "+employee.address.zipCode}}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3 class="md-body-2">Usuario</h3>
                <p class="md-body-1">{{employee.user.username}}</p>
            </div>
        </md-list-item>


    </md-list>

    <div class="pull-right">
        <md-button ng-href="/employees/{{employee._id}}/edit" class="md-raised md-primary">Editar</md-button>
        <md-button ng-click="removeEmployee();" class="md-raised md-primary">Borrar</md-button>
    </div>
</section>


