.layout-row {
	padding: 5px;
}

.day {
	border-top: 1px solid #ddd;
}

/*TODO: Maijto corrige esto c:*/
/*input {
	max-width: 100px;
}*/

md-input-container {
	margin:0px;
}

.modal-timesheet {
	padding: 20px;
	min-width: 50%;
}

#select-modal {
	width: 150px;
}

#contract {
	overflow-x: scroll;
}

#contract input {
	max-width: 100px;
}
