<section>
  <div class="page-header">
    <h1>{{vm.invoice._id ? 'Editar factura' : 'Nueva factura'}}</h1>
  </div>

  <md-content flex layout-padding>
    <div>
      <form class="form-horizontal" ng-submit="vm.save(vm.form.invoiceForm.$valid)" novalidate>
        <md-input-container layout-gt-xs="row">
          <label>Number</label>
          <input name="number" type="number" ng-model="vm.invoice.number" id="number" class="form-control" placeholder="Number" required>
        </md-input-container>

        <md-input-container layout-gt-xs="row">
          <label>Date</label>
          <input name="date" type="date" ng-model="vm.invoice.date" id="date" class="form-control" placeholder="Date" required>
        </md-input-container>

        <md-input-container layout-gt-xs="row">
          <label>DaysPeriod</label>
          <input name="daysPeriod" type="number" ng-model="vm.invoice.daysPeriod" id="daysPeriod" class="form-control" placeholder="DaysPeriod" required>
        </md-input-container>

        <md-input-container layout-gt-xs="row">
          <label>DaysPeriod</label>
          <input name="daysMonth" type="number" ng-model="vm.invoice.daysMonth" id="daysMonth" class="form-control" placeholder="DaysMonth" required>
        </md-input-container>

        <div class="form-group">
          <md-button type="submit" class="md-raised md-primary">{{vm.invoice._id ? 'Update' : 'Create'}}</md-button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </form>
    </div>
  </md-content>
</section>
