<section>
  <div class="page-header">
    <h1>{{vm.invoice._id ? 'Editar factura' : 'Nueva factura'}}</h1>
  </div>

  <md-content flex layout-padding>
    <div>
      <form class="form-horizontal" ng-submit="vm.save(vm.form.invoiceForm.$valid)" novalidate>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Numero de factura</label>
          <input type="number" ng-model="vm.invoice.number" id="number" class="form-control" required>
        </md-input-container>

        <div flex-gt-xs>
          <h4>Fecha</h4>
          <md-datepicker ng-model="vm.invoice.date" md-placeholder="Elija la fecha"></md-datepicker>
        </div>

        <md-input-container class="md-block" flex-gt-s>
          <label>Dirección</label>
          <input type="string" ng-model="vm.invoice.address" id="address" class="form-control" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-s>
          <label>Total de dias de trabajo del periodo</label>
          <input type="number" ng-model="vm.invoice.daysPeriod" id="daysPeriod" class="form-control" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-s>
          <label>Total de dias de trabajo del mes</label>
          <input type="number" ng-model="vm.invoice.daysMonth" id="daysMonth" class="form-control" required>
        </md-input-container>

        <div class="form-group">
          <md-button type="submit" class="md-raised md-primary">{{vm.invoice._id ? 'Update' : 'Create'}}</md-button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </form>
    </div>
  </md-content>
</section>
