<section>
    <div class="page-header">
        <h1>Nueva orden de compra</h1>
    </div>
    <form name="purchaseOrderForm" class="form-horizontal" ng-submit="create(purchaseOrderForm.$valid)" novalidate>
        <md-input-container class="md-block" layout-gt-xs="row">
            <label>N&uacute;mero de compra</label>
            <input type="text" ng-model="newPurchaseOrder.purchaseNumber" title="purchaseNumber" required>
        </md-input-container>
        <md-input-container class="md-block" layout-gt-xs="row">
            <label>Nombre</label>
            <input type="text" title="name" ng-model="newPurchaseOrder.name" md-maxlength="50" required>
        </md-input-container>
        <md-input-container class="md-block" layout-gt-xs="row">
            <label>Descripci&oacute;n</label>
            <input type="text" title="description" ng-model="newPurchaseOrder.description" md-maxlength="250" required>
        </md-input-container>
        <md-input-container class="md-block" layout-gt-xs="row">
            <label>Monto asignado (MXN)</label>
            <input type="number" title="assignedAmount" ng-model="newPurchaseOrder.assignedAmount" min="0" required>
        </md-input-container>
        <md-input-container class="md-block" layout-gt-xs="row">
            <label>Monto restante (MXN)</label>
            <input type="number" title="remainingAmount" ng-model="newPurchaseOrder.remainingAmount" min="0" required>
        </md-input-container>
        <div layout="row" class="md-block" layout-align="end" flex>
            <md-button type="submit" ng-disabled="purchaseOrderForm.$invalid" class="md-primary">Agregar orden de compra</md-button>
        </div>
    </form>
</section>