<section ng-init="findOne()">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>Editando {{purchaseOrder.name}}</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <form name="editPurchaseOrder" class="form-horizontal" ng-submit="update()" novalidate>
            <md-input-container class="md-block" layout-gt-xs="row">
                <label>N&uacute;mero de compra</label>
                <input type="text" ng-model="purchaseOrder.purchaseNumber" title="purchaseNumber" required>
            </md-input-container>

            <md-input-container class="md-block" layout-gt-xs="row">
                <label>Nombre</label>
                <input type="text" title="name" ng-model="purchaseOrder.name" md-maxlength="50" required>
            </md-input-container>

            <md-input-container class="md-block" layout-gt-xs="row">
                <label>Descripci&oacute;n</label>
                <textarea title="description" ng-model="purchaseOrder.description" md-maxlength="250"
                          rows="5"></textarea>
            </md-input-container>

            <md-input-container class="md-block" layout-gt-xs="row">
                <label>Monto asignado (MXN)</label>
                <input type="number" title="assignedAmount" ng-model="purchaseOrder.assignedAmount" min="0" required>
            </md-input-container>

            <md-input-container class="md-block" layout-gt-xs="row">
                <label>Monto restante (MXN)</label>
                <input type="number" name="remainingAmount" title="remainingAmount"
                       ng-model="purchaseOrder.remainingAmount" min="0"
                       max="{{purchaseOrder.assignedAmount}}" required>

                <div ng-messages="editPurchaseOrder.remainingAmount.$error">
                    <div ng-message="max">
                        El monto restante no puede ser mayor que el monto asignado.
                    </div>
                </div>
            </md-input-container>

            <div layout="row" class="md-block" layout-align="end" flex>
                <md-button type="submit" ng-disabled="editPurchaseOrder.$invalid" class="md-raised md-primary text-center">Guardar cambios
                </md-button>
            </div>
        </form>
    </md-content>
    <br><br><br>
</section>