textarea {
	resize: none;
}


.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.md-green {
	background: #3CA534 !important;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.md-red {
    color: white !important;
    background: #DF013A !important;
}

.md-teal {
    color: white !important;
    background: #01A9DB !important;
}
.md-red:hover {
    background: #8A0829 !important;
}

.md-teal:hover {
    background: #086A87 !important;
}
