<section ng-controller="ResourceTypesController" ng-init="findOne()">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Crear un Tipo de Recurso</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <form name="resourceTypeForm" class="form-horizontal" role="form" ng-submit="create(resourceTypeForm.$valid)" novalidate>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre</label>
          <input ng-model="resourceType.name" md-maxlength="50" required ng-required="true">
        </md-input-container>
      </div>
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h4>
            <span>Tarifa</span>
          </h4>
        </div>
      </md-toolbar>
      <br>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nivel</label>
          <input ng-model="resourceType.rate.level" type="number" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Name</label>
          <input ng-model="resourceType.rate.name" md-maxlength="50" required ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Tarifa</label>
          <input ng-model="resourceType.rate.rate" type="number" required ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Descripci&oacute;n</label>
          <input ng-model="resourceType.rate.description" md-maxlength="250" required ng-required="true">
        </md-input-container>
      </div>
      <h5 class="md-title">Cualidades</h5>
      <md-chips ng-model="resourceType.rate.qualities" readonly="ctrl.readonly" md-removable="ctrl.removable"
                md-enable-chip-edit="true" placeholder="Agrega una cualidad" secondary-placeholder=" + Asombroso"></md-chips>

      <md-button
        type="submit"
        ng-disabled="resourceTypeForm.$invalid"
        class="md-raised md-primary text-center">Guardar</md-button>
    </form>
  </md-content>
  <br><br><br>
</section>

