<section ng-controller="ResourceTypesController" ng-init="find()">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h1>
        <span>Tipos de Recurso</span>
      </h1>
    </div>
  </md-toolbar>
  <div class="text-center" ng-if="!resourceTypes.length">
    <h2>A&uacute;n no has agregado un tipo de recurso</h2>
    <md-button class="text-center md-raised md-primary" ui-sref="resource-types.create()">Crear Uno</md-button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>N&uacute;mero Tarifas</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="current in resourceTypes">
      <td>{{current.name}}</td>
      <td>{{current.rates.length}}</td>
      <td>
        <md-button class="md-secondar md-icon-button md-primary" ui-sref="resource-types.view({resourceTypeId: current._id})">
          <md-icon class="material-icons">remove_red_eye</md-icon>
        </md-button>
        <md-button class="md-secondar md-icon-button md-primary" ui-sref="resource-types.edit({resourceTypeId: current._id})">
          <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button md-warn" ng-click="showConfirmDialog(current)">
          <md-icon>delete</md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
