<section ng-controller="ResourceTypesController" ng-init="findOne()">
  <md-content flex layout-padding>
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h1>
          <span>Recurso</span>
        </h1>
      </div>
    </md-toolbar>
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-sm card-media" layout>
            <md-icon class="material-icons md-48">work</md-icon>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">{{resourceType.name}}</span>
          <span class="md-subhead description">Creado en {{resourceType.created_at}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-toolbar class="md-theme-light">
      <h4 class="md-toolbar-tools">
        <span>Tarifa</span>
      </h4>
    </md-toolbar>
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <div class="md-media-sm card-media" layout>
            <md-icon class="material-icons md-48">portrait</md-icon>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <h4 class="md-headline">#{{resourceType.rate.level}} {{resourceType.rate.name}} ({{resourceType.rate.description}})</h4>
          <h5 class="md-subhead description">Tarifa : {{ resourceType.rate.rate | currency }}</h5>
          <h5>Cualidades Deseadas: </h5>
          <ul>
            <li ng-repeat="item in resourceType.rate.qualities">
              {{item}}
            </li>
          </ul>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-button class="text-center md-raised md-primary" ui-sref="resource-types.edit({resourceTypeId: resourceType._id})">Editar</md-button>
  </md-content>
</section>
